{
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended"
    ],
    "env": {
        "node": true,
        "es6": true
    },
    "rules": {
        "quotes": ["warn", "double"]
    }
}
